@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
:root {
  --dark: #161b22;
  --pink-ligth: #50202c;
  --orange: #f36a26;
  --orange-ligth: #f67218;
  --grey: #f7f7f7;
  --white: #ffffff;
  --trasparent: trasparent;
  /* 400 */
  font-family: "PT Sans", sans-serif;
  /* regular 400  500 700 */
  --roboto: "Roboto", sans-serif;
  /* regular 400 bold 700 */
  --cursiva: 'Oleo Script Swash Caps', cursive;

  
}

body{
  height: 200vh;
}


 
