@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
:root{
  --dark:#161b22;
  --pink-ligth:#50202c;
  --orange:#f36a26;
  --orange-ligth:#f67218;
  --grey:#f7f7f7;
  --white:#ffffff;
  --trasparent:trasparent;
  font-family: 'PT Sans', sans-serif;
  --roboto:'Roboto', sans-serif;
}